<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <br>
  <div class="user-intro center-align">
    <h4 class="hidden">★ <span id="js-rotating">데이터베이스, Python, 데이터분석, 기타 등등</span>에 관심이 있습니다 ★</h4>
  </div>
  <br>
  <br>
  <br>
  <div class="user-content">
    <p align="center">
    데이터베이스 : Oracle , mysql, kinetica
    </p>
    <p align="center">
    Django : python, HTML, css, JavaScript
    </p>
    <p align="center">
    데이터분석 : 머신러닝, 딥러닝
    </p>
    <p align="center">
    기타 : Docker
    </p>
  </div>
</div>
